@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

body {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, -0.5),
    rgba(0, 0, 0, 0.5)
  ),
   url(../img/contacto.png);
   background-size: cover;
}

.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
} 
.bg-dark {
    background-color: #4c3673d4!important;
}

