@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

.datosPerfil {
  list-style: none;
  padding: 20px;
  padding-bottom: 40px;
}

.datosPerfil li {
  margin-top: 24px;
  padding: 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
} 

.awards{
    display: flex;
    justify-content: center;
    background-color: #03a9f45c;
    margin-bottom: 3%;
}

.img-award{
    width: 10%;
    margin: 10px;
    border-radius: 0;
}

.data{
  display: flex;
}

.pass{
  display: flex;
}