@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

.datosPerfil {
  list-style: none;
  padding: 20px;
  padding-bottom: 40px;
}

.datosPerfil li {
  margin-top: 24px;
  padding: 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
} 